<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>

<%=form_with(url: comments_path) do |f|%>
	<%=f.text_field :body%>
  <%= f.hidden_field :idea_id, value: @idea.id %>
  <%=f.submit'Comment'%>
<%end%>
<%@idea.comments.reverse_each do |comment| %>
<ul>
<%=comment.body %>
<%=comment.username%>
</ul>
<%end%>